header
    div(class="container clearfix")
        .row(style="margin-top:-10%; margin-left: 70%")
            .col-md-6(style="margin-top: 4%; color: white")
                i(class="fa fa-user fa-2x" aria-hidden="true")
                p(style="margin-top: -18px;margin-left: 38%;font-size: larger;") #{name}
            .col-md-6
                nav
                    a(class="navbar-brand" href="/log/logout" ) Sair
nav(id="header" class="navbar navbar-fixed-top" style="margin-top: 10%")
            div(id="header-container" class="container navbar-container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(id="brand" class="navbar-brand" href="#") Gerenciador de Escala
                div(id="navbar" class="collapse navbar-collapse")
                    span
                    ul(class="nav navbar-nav")
                        li(class="active")
                          a(href="/") Home
                        li(class="dropdown")
                          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Dropdown 
                           span(class="caret")
                          ul(class="dropdown-menu")
                            li
                             a(href="/remedio/listar") Listar Remédios
                            li(role="separator" class="divider")
                            li
                             a(href="/remedio/add") Inserir Rémedio
                            li(role="separator" class="divider")
                            li
                             a(href="#") Excluir Remédio
                        li
                          a(href="/scale/list") Escala
                        li
                          a(href="/log/login") Logar-se 
                        
          
