script(type="application/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js")
//- script(type="application/javascript", src="js/index.js")
//- script(type="application/javascript", src="js/nav_bar.js")  
script(src="https://code.jquery.com/ui/jquery-ui-git.js")
