head
  script(type="application/javascript", src="https://use.fontawesome.com/16518c4e7c.js")
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  link(href='css/main.css', rel="stylesheet")
  //- link(href='css/warper.css', rel="stylesheet")
  link(rel="stylesheet", type="text/css", href="https://code.jquery.com/ui/jquery-ui-git.css")
  script(type="text/javascript").
