header
    div(class="container clearfix")
        nav
            a(href="") Login
          

nav(id="header" class="navbar navbar-fixed-top" style="margin-top: 3%")
            div(id="header-container" class="container navbar-container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(id="brand" class="navbar-brand" href="#") Gerenciador de Escala
                div(id="navbar" class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                          a(href="#") Home
                        li
                          a(href="#Teste") Adicionar 
                        li
                          a(href="/scale/list") Escala
